version: '3.10'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - gunicorn
      - mysite.wsgi:application
      - --bind
      - 0.0.0.0:8000
    ports:
      - "8000:8000"
    restart: always
    environment:
      - DJANGO_SETTINGS_MODULE=mysite.settings
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
    volumes:
      - ./mysite/database:/app/database
